@page
@model ToDoList.Pages.ToDoListModel
@{
    ViewData["Title"] = "StudentsList";
}

<div class="container">
    <h1 class="text-center text-black-50">Students List</h1>
    <table class="table table-bordered table-striped" id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th id="firstName">First Name</th>
                <th id="lastName">Last Name</th>
                <th id=" dateOfBirth">Date of Birth</th>
                <th id="gender">Gender</th>
                <th>Changes</th>
            </tr>
        </thead>
        <tbody></tbody>

    </table>

</div>


<script>
    $(document).ready(function () {
        getStudent();
    });
    function getStudent() {
        let xhr = new XMLHttpRequest();
        let url = "https://localhost:7001/api/Students";
        xhr.open('GET', url, false);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
        try {
            xhr.send();
            if (xhr.status != 200) {
                console.log(xhr)
                //alert('Somthing went wrong please check your network. ');
            }
            else {
                var result = JSON.parse(xhr.responseText);
                console.log(result);
                StudentTemp(result);
            }

        }
        catch (err) { // instead of onerror
            alert(err, "Request failed");
        }
    }

    function getStudent(id) {
        let xhr = new XMLHttpRequest();
        let url = "https://localhost:7001/api/Students" + id;
        xhr.open('GET', url, false);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
        try {
            xhr.send();
            if (xhr.status != 200) {
                console.log(xhr)
                //alert('Somthing went wrong please check your network. ');
            }
            else {
                var result = JSON.parse(xhr.responseText);

                console.log(result);
                StudentTemp(result);
            }

        }
        catch (err) { // instead of onerror
            alert(err, "Request failed");
        }
    }
    function deleteStudent(id) {
        var check = confirm("About to delete student, Are you sure?")
        if (check == true) {
            $.ajax({
                type: "DELETE",
                url: "https://localhost:7001/api/Students/" + id,
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert('Delete successfully.');
                    console.log(result);
                    getStudent();
                },
                error: function () {
                    alert('Failed to delete student');
                    console.log('Failed ');
                }
            })

        }
    }

    function StudentTemp(dataObj) {
        $('#dataTable tbody').html("");
        dataObj.forEach(x => {
            let res = `<tr>
                <td>${x.id}</td>
                <td>${x.firstName}</td>
                <td>${x.lastName}</td>
                <td>${x.dateOfBirth}</td>
                <td>${x.gender}</td>
                <td>
                <a href="javascript:void(0)"
                onclick="getStudent(${x.id})"
                class="btn btn-warning btn-sm" title="Edit">Edit</a>&nbsp;
                <a href="javascript:void(0)"
                class="btn btn-danger btn-sm" onclick="deleteStudent(${x.id})"  title="Delete">Delete</a>
                </td>
            </tr>`;
            $('#dataTable tbody').append(res);
        });

    }
</script>